.result {
	position: relative;
	margin: -320px auto;
	padding: 100px 30px 50px 30px;
	max-width: 500px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: azure;
	border-radius: 20px;
	background: rgb(20, 120, 100);
	box-shadow: 0 0 5px rgb(12, 12, 12);
	transition: margin-top 0.5s;
	z-index: -1;
}

.showResult {
	margin-top: -130px;
}

.info {
	position: relative;
	margin-top: 280px;
	text-align: center;
	font-size: 12px;
	z-index: -1;
}
